{% extends 'layout.html'%}
{% block main%}
<ol class="breadcrumb">
	<li><a href="/user">管理首页</a></li>
	<li><a href="/user/user">用户列表</a></li>
	<li><a href="/user/add">分类管理</a></li>
</ol>
<h3>用户列表</h3>
<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<th>用户id</th>
			<th>用户名</th>
			<th>密码</th>
			<th>是否是管理员</th>
		</tr>
		{% for user in users%}
		<tr>
			<td>{{user._id.toString()}}</td>
			<td>{{user.username}}</td>
			<td>{{user.password}}</td>
			<td>
				{% if user.isAdmin%}是{%else%}否{%endif%}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!--引用模板-->
{%include 'page.html'%}

{% endblock%}

